html {
    /*background-color: #EDF2C5;*/
    box-sizing: border-box; /*預設是cotent-box*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 100%; /*不知道有沒有必要，但還是寫一下*/
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /*滿版的高度*/
}

.header {
    background-color: black; /*暫定*/
    text-align: center;
}

.header-title {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 3em; /*48px*/
    letter-spacing: 0.45em; /*7.2px*/
    color: white;

    padding: 39px 0;
    margin-left: 7.2px; /*對齊用*/
    margin-top: 0;
    margin-bottom: 0;
}

.main {
    display: flex;
    justify-content: center;

    margin: 138px 115px 121px 115px;
}

.main-image {
    display: block;
    margin-right: 111px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-content-result {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2em; /*32px*/
    line-height: 1.5;
    text-align: center;

    margin-top: 0;
    margin-bottom: 0;
}

.main-content-bless {
    display: flex;
}

.main-content-bless-word {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5em; /*324px*/

    margin-top: 0;
    margin-bottom: 0;
}

.main-content-bless-image {
    display: block;
    margin-left: 4px;
}

.button {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2em; /*32px*/
    
    display: flex;
    justify-content: center;
    
}

.button-content {
    margin: 0;
}

.button-content-link {
    text-decoration: none;
    color: black; /*暫定*/
    padding: 22px 88px;
    padding-top: 18px; /*對齊用*/
    background-image: url("images/back_button.png");
    background-repeat: no-repeat;
}

/*按鈕的hover效果之後再做*/

/*擅自加了個footer*/
.footer {
    background-color: black;
    display: flex;
    justify-content: center;

    margin-top: 107px;
}

.footer-content {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1em;
    color: #d9d9d9;
    margin: 21px 0;
}