html {
    /*background-color: #EDF2C5;*/
    box-sizing: border-box; /*預設是cotent-box*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 100%; /*不知道有沒有必要，但還是寫一下*/
}

.container {
    display: flex;
    flex-direction: column;

    height: 100vh; /*滿版的高度*/

    min-width: 1080px; /*畫面縮小後東西比較不會擠在一起*/
}

.header {
    background-color: black; /*暫定*/
    text-align: center;
}

.header-title {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 3em; /*48px*/
    letter-spacing: 0.45em; /*7.2px*/
    color: white;

    padding: 39px 0;
    margin-left: 7.2px; /*對齊用*/
    margin-top: 0;
    margin-bottom: 0;
}

.main {
    display: none;

    /*以下移到js：
    display: flex;
    justify-content: center;*/

    margin: 99px 115px 121px 115px;

    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.main-image {
    display: block;
    margin-right: 111px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-content-result {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2em; /*32px*/
    line-height: 1.5;
    text-align: center;

    margin-top: 0;
    margin-bottom: 0;
}

.main-content-bless {
    display: flex;
}

.main-content-bless-word {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5em; /*324px*/

    margin-top: 0;
    margin-bottom: 0;
}

.main-content-bless-image {
    display: block;
    margin-left: 4px;
}

.button {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2em; /*32px*/
    
    display: flex;
    justify-content: center;
    flex-grow: 1; /*可佔滿垂直剩餘的空間*/
    
}

.button-content {
    margin: 0;
}

.button-content-link {
    text-decoration: none;
    color: black; /*暫定*/
    padding: 18px 88px 22px 88px; /*top為對齊用*/

    background-image: url("images/normal_button.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.button-content-link:hover {
    /*改變字體顏色和背景圖(暫定)*/
    color: white;
    background-image: url("images/normal_button_hover.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.footer {
    background-color: black; /*暫定*/
    display: flex;
    justify-content: center;

    margin-top: 107px;
}

.footer-content {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1em;
    color: #d9d9d9; /*暫定*/
    margin: 21px 0;
}