html {
    /*background-color: #EDF2C5;*/
    box-sizing: border-box; /*預設是cotent-box*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 100%; /*不知道有沒有必要，但還是寫一下*/
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /*滿版的高度*/
}

.header {
    background-color: rgb(153, 217, 234); /*暫定*/
    text-align: center;
}

.header-title {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 3em; /*48px*/
    letter-spacing: 0.45em; /*7.2px*/

    padding: 39px 0;
    margin-top: 0;
    margin-bottom: 0;
}

.main {
    display: flex;
    justify-content: center;

    margin: 99px 115px;
}

.main-image {
    display: block;
    margin-right: 111px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content-result {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2em; /*32px*/
    line-height: 1.5;

    margin-top: 0;
    margin-bottom: 0;
}

.main-content-bless {
    display: flex;
}

.main-content-bless-word {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5em; /*324px*/

    margin-top: 0;
    margin-bottom: 0;
}

.main-content-bless-image {
    display: block;
    margin-left: 4px;
}