html {
    box-sizing: border-box; /*預設是cotent-box*/
}

#background1 {
    background-color: #A7A7A7;
}

#background2 {
    background-color: #678176;
}

#background3 {
    background-color: #9F8A7D;
}

#background4 {
    background-color: #B9A672;
}

#background5 {
    background-color: #946E67;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 100%; /*不知道有沒有必要，但還是寫一下*/
}

.container {
    display: flex;
    flex-direction: column;

    height: 100vh; /*滿版的高度*/

    min-width: 1080px; /*畫面縮小後東西比較不會擠在一起*/
}

.header {
    text-align: center;
}

.header-title {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 3em; /*48px*/
    letter-spacing: 0.45em; /*7.2px*/
    color: white;

    padding: 39px 0;
    margin-left: 7.2px; /*對齊用*/
    margin-top: 0;
    margin-bottom: 0;
}

#header1 {
    background-color: #4B4A4A;
}

#header2 {
    background-color: #41524B;
}

#header3 {
    background-color: #4D433C;
}

#header4 {
    background-color: #685C3A;
}

#header5 {
    background-color: #60423C;
}

.main {
    opacity: 0;

    display: flex;
    justify-content: center;

    margin: 99px 150px 121px 150px;

    max-width: 1280px;
}

.main-image {
    display: block;
    margin-right: 75px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-content-result {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2em; /*32px*/
    line-height: 1.5;
    text-align: center;
    color: #4D433C;
    font-weight: 700;

    margin-top: 0;
    margin-bottom: 0;
}

.main-content-bless {
    display: flex;
}

.main-content-bless-word {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5em; /*324px*/
    color: #67382D;
    font-weight: 700;

    margin-top: 0;
    margin-bottom: 0;
}

.main-content-bless-image {
    display: block;
    margin-left: 4px;
}

.button {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2em; /*32px*/
    
    display: flex;
    justify-content: center;
    flex-grow: 1; /*可佔滿垂直剩餘的空間*/
    
}

.button-content {
    margin: 0;
}

.button-content-link {
    text-decoration: none;
    color: white;
    padding: 18px 88px 22px 88px; /*top為對齊用*/
}

.button-content-link:hover {
    color: #1a1a1a;
    background-color: #BAA292;
    border: 1px solid #BAA292;
    border-radius: 50px;
}

.btn1 {
    background-color: #4B4A4A;
    border: 1px solid #4B4A4A;
    border-radius: 50px;
}

.btn2 {
    background-color: #41524B;
    border: 1px solid #41524B;
    border-radius: 50px;
}

.btn3 {
    background-color: #4D433C;
    border: 1px solid #4D433C;
    border-radius: 50px;
}

.btn4 {
    background-color: #685C3A;
    border: 1px solid #685C3A;
    border-radius: 50px;
}

.btn5 {
    background-color: #60423C;
    border: 1px solid #60423C;
    border-radius: 50px;
}

.footer {
    background-color: black; /*暫定*/
    display: flex;
    justify-content: center;

    margin-top: 107px;
}

.footer-content {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1em;
    color: #d9d9d9; /*暫定*/
    margin: 21px 0;
}