html {
    box-sizing: border-box; /*預設是cotent-box*/
}

#background1 {
    background-color: #BAA292;
}

#background2 {
    background-color: #9F8A7D;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 100%; /*不知道有沒有必要，但還是寫一下*/
}

.container {
    display: flex;
    flex-direction: column;

    height: 100vh; /*滿版的高度*/

    min-width: 1080px; /*畫面縮小後東西比較不會擠在一起*/
}

.header {

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;

    /*置中效果*/
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 66px;
    margin-bottom: 66px;
    
    flex-grow: 1;
}

.main-scene {
    opacity: 0;
    
    margin-right: 90px;
}

.main-scene-image {
    display: block;
    box-shadow: 0 3px 5px #4D433C;
}

.main-content {
    opacity: 0;
    
    display: flex;
    flex-direction: column;
}

.main-content-topic {
    font-family: 'Noto Sans TC', sans-serif;
    color: #4D433C;
    font-size: 1.75em; /*28px*/
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 20px 0;
}

.main-content-option{
    display: flex;
    flex-direction: column;
}

.main-content-option-link {
    text-decoration: none;
    text-align: center;

    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5625em; /*25px*/
    background-color: #4D433C;
    border: 1px solid #4D433C;
    border-radius: 50px;
    color: #FFF4ED;

    padding-top: 23px;
    padding-bottom: 23px;

    margin-top: 25px; /*按鈕間距*/

}

.btn1:hover {
    background-color: #5D756B;
    border: 1px solid #5D756B;
    border-radius: 50px;
    color: white;
}

.btn2:hover {
    background-color: #A7A7A7;
    border: 1px solid #A7A7A7;
    border-radius: 50px;
    color: #1A1A1A;
}

.btn3:hover {
    background-color: #77514A;
    border: 1px solid #77514A;
    border-radius: 50px;
    color: white;
}

.btn4:hover {
    background-color: #B9A672;
    border: 1px solid #B9A672;
    border-radius: 50px;
    color: #1A1A1A;
}

.btn5:hover {
    background-color: #938479;
    border: 1px solid #938479;
    border-radius: 50px;
    color: white;
}

.main-content-option-link-caption {
    margin: 0;
}

.footer {
    background-color: black; /*暫定*/
    display: flex;
    justify-content: center;
}

.footer-content {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1em;
    color: #d9d9d9; /*暫定*/
    margin: 21px 0;
}