html {
    /*background-color: #534943; /*配合圖片顏色*/
    background-color: #332B26; /*配合footer顏色*/
    box-sizing: border-box; /*預設是cotent-box*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 100%; /*16px，寫一下比較安心*/
}

.container {
    /*使header、main和footer置中*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {

}

.main {
    opacity: 0; /*淡入用*/

    /*使圖片和按鈕置中*/
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-grow: 1; /*可佔滿垂直剩餘的空間(包括縮放)*/
    /*意味著footer會固定在最下方...等等看起來並沒有*/

    position: relative; /*按鈕對齊的基準*/
}

.main-image {
    display: block;
    max-width: 100%; /*避免下述的滿版範圍超出整個容器*/
    width: 100vw; /*滿版的寬度*/
}

.main-button {
    /*按鈕的主要樣式還是放在main-button-link類別裡*/
    display: flex;
    justify-content: center;

    position: absolute; /*放在圖片上面*/
    bottom: 5.5%; 
}

.main-button-link {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2.3em; /*36.8px，稍微放大了點*/

    text-decoration: none;
    color: #BEA69E;
    padding: 23px 88px 22px 80px; /*最後為對齊用*/

    background-color: #524841;
    border: 1px solid #524841;
    border-radius: 50px;

    position: relative;
    z-index: 2;
}

.main-button-link:hover {
    /*改變字體顏色和背景色*/
    color: #524841;
    background-color: #BEA69E;
    border: 1px solid #BEA69E;
    border-radius: 50px;
}

/*按鈕點擊特效之起點*/
.main-button-link:active {
    box-shadow: 0 8px 10px #534943;
}

.main-button-dot { /*點點的軌道設置*/
    position: absolute; /*基準設在按鈕(連結)上*/
    z-index: 0;
    display: block;
    width: 200px;
    height: 10px;
    transform-origin: 5px 5px;
    pointer-events: none;
}

.main-button .main-button-dot:nth-child(1) { /*八個點點的軌道方向*/
    top: 50%;
    left: 100%;
    transform: translate3d(-10px, -5px, 0);
}

.main-button .main-button-dot:nth-child(2) {
    bottom: 0;
    left: 100%;
    transform: translate3d(-10px, 0, 0) rotate(45deg);
}

.main-button .main-button-dot:nth-child(3) {
    bottom: 0;
    left: 50%;
    transform: translate3d(-5px, 0, 0) rotate(90deg);
}

.main-button .main-button-dot:nth-child(4) {
    bottom: 0;
    left: 0;
    transform: rotate(135deg);
}

.main-button .main-button-dot:nth-child(5) {
    top: 50%;
    left: 0;
    transform: translate3d(0, -5px, 0) rotate(180deg);
}

.main-button .main-button-dot:nth-child(6) {
    top: 0;
    left: 0;
    transform: rotate(225deg);
}

.main-button .main-button-dot:nth-child(7) {
    top: 0;
    left: 50%;
    transform: translate3d(-5px, 0, 0) rotate(270deg);
}

.main-button .main-button-dot:nth-child(8) {
    top: 0;
    left: 100%;
    transform: translate3d(-10px, 0, 0) rotate(315deg);
}

.main-button .main-button-dot:before { /*點點本身的樣式設定*/
    content: "";
    top: 0;
    left: 0;

    display: block;
    width: 6px;
    height: 6px;

    background-color: #BEA69E;
    border-radius: 50%;
    
    offset-path: path("M0 1c7.1 0 10.7 2 14.3 4s7.1 4 14.3 4 10.7-2 14.3-4 7.2-4 14.3-4 10.7 2 14.3 4 7.1 4 14.3 4 10.7-2 14.3-4 7.1-4 14.3-4 10.7 2 14.3 4 7.1 4 14.3 4 10.7-2 14.3-4 7.1-4 14.3-4 10.7 2 14.3 4 7.1 4 14.3 4");
    offset-distance: 50%;
    pointer-events: none;
    opacity: 0;
    transition: offset-distance 300ms, opacity 600ms; /*中間是發射速度*/
}

.main-button:active .main-button-dot:before {
    offset-distance: 0;
    opacity: 1;
    transition: offset-distance 0ms, opacity 0ms;
}
/*按鈕點擊特效之終點*/

.footer {
    background-color: #332B26;
    width: 100%; /*與父元件(相當於網頁本身)寬度相同*/
}

.footer-logo {
    margin-top: 30px;
    margin-bottom: 28px;
    
    /*使logo的圖片與文字置中*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo-image {
    margin-bottom: 11px;
}

.footer-logo-word {
    font-family: 'Kranky', serif;
    font-size: 1.25em; /*20px*/
    color: white;
    margin: 0; /*清除<p>的預設格式*/
}