html {
    background-color: #534943;
    box-sizing: border-box; /*預設是cotent-box*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 100%; /*不知道有沒有必要，但還是寫一下*/
}

.container {
    display: flex;
    flex-direction: column;

    height: 100vh; /*滿版的高度*/

    min-width: 1080px; /*畫面縮小後東西比較不會擠在一起*/

    opacity: 0;
    background-image: url("/images/cover.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; /*可以達成高度滿版的效果*/
}

.header {

}

.main {
    opacity: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    flex-grow: 1; /*可佔滿垂直剩餘的空間*/
}

.main-image {
    
}

.main-button {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2em; /*32px*/

    text-decoration: none;
    color: #1A1A1A;
    padding: 23px 88px 22px 80px; /*最後為對齊用*/

    margin-bottom: 40px;

    background-color: #BCA59D;
    border: 1px solid #BCA59D;
    border-radius: 50px;
}

.main-button:hover {
    /*改變字體顏色和背景色*/
    color: white;
    background-color: #1A1A1A;
    border: 1px solid #1A1A1A;
    border-radius: 50px;
}

.footer {
    background-color: #332B26;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
   margin-top: 30px;
   margin-bottom: 28px;
}

.footer-logo-image {
    margin-bottom: 11px;
}

.footer-logo-word {
    font-family: 'Kranky', serif;
    font-size: 1.25em; /*20px*/
    color: white;
    margin: 0; /*清除<p>的預設格式*/
}