html {
    /*background-color: #534943; /*配合圖片顏色*/
    background-color: #332B26; /*配合footer顏色*/
    box-sizing: border-box; /*預設是cotent-box*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 100%; /*16px，寫一下比較安心*/
}

.container {
    /*使header、main和footer置中*/
    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: 0; /*淡入用*/
}

.header {

}

.main {
    /*使圖片和按鈕置中*/
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-grow: 1; /*可佔滿垂直剩餘的空間(包括縮放)*/
    /*意味著footer會固定在最下方...等等看起來並沒有*/

    position: relative; /*按鈕對齊的基準*/
}

.main-image {
    display: block;
    max-width: 100%; /*避免下述的滿版範圍超出整個容器*/
    width: 100vw; /*滿版的寬度*/
}

.main-button {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2.3em; /*36.8px，稍微放大了點*/

    text-decoration: none;
    color: #1A1A1A;
    padding: 23px 88px 22px 80px; /*最後為對齊用*/

    position: absolute; /*放在圖片上面*/
    bottom: 60px;

    background-color: #BCA59D;
    border: 1px solid #BCA59D;
    border-radius: 50px;
}

.main-button:hover {
    /*改變字體顏色和背景色*/
    color: white;
    background-color: #1A1A1A;
    border: 1px solid #1A1A1A;
    border-radius: 50px;
}

.footer {
    background-color: #332B26;
    width: 100%; /*與父元件(相當於網頁本身)寬度相同*/
}

.footer-logo {
    margin-top: 30px;
    margin-bottom: 28px;
    
    /*使logo的圖片與文字置中*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo-image {
    margin-bottom: 11px;
}

.footer-logo-word {
    font-family: 'Kranky', serif;
    font-size: 1.25em; /*20px*/
    color: white;
    margin: 0; /*清除<p>的預設格式*/
}